body {
  background: #dcdfe1;
  padding: 0;
  margin: 0;
  font-size: 3vmax;
  font-family: FiraSans-Light, sans-serif;
  color: #1f2026;
}
.text-cover {
  font-size: 16px;
  white-space: nowrap;
}
div.menu {
  position: fixed;
  top: 0;
  left: 0;
  color: #ebeef0;
  background: #2c2d36;
  padding: 1vmax;
  height: 10vh;
  width: 100vw;
  border-bottom: 0.5vh solid #5c6576;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (orientation: landscape) {
  div.menu {
    width: 10vw;
    height: 100vh;
    border-bottom: none;
    border-right: 0.5vmax solid #5c6576;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) and screen and (orientation: landscape) {
  div.menu {
    width: 25vw;
  }
}
div.menu div.menu-item {
  display: inline-block;
  vertical-align: middle;
}
div.menu div.menu-item div.avatar {
  display: inline-block;
  width: 8vh;
  height: 8vh;
  background: white;
  border-radius: 100%;
  vertical-align: middle;
}
div.menu div.menu-item img {
  height: 5vh;
}
div.menu div.menu-item div.caption {
  vertical-align: middle;
  display: none;
}
@media screen and (orientation: landscape) {
  div.menu div.menu-item div.caption {
    display: inline-block;
  }
}
div.menu div.menu-item div.caption.name {
  width: 25vw;
  display: inline-block;
}
[v-cloak] {
  display: none;
}
