@font-face
{
    font-family: FiraSans-Bold;
    src:         url('FiraSans-Bold.otf');
}

@font-face
{
    font-family: FiraSans-BoldItalic;
    src:         url('FiraSans-BoldItalic.otf');
}

@font-face
{
    font-family: FiraSans-Italic;
    src:         url('FiraSans-Italic.otf');
}

@font-face
{
    font-family: FiraSans-Light;
    src:         url('FiraSans-Light.otf');
}

@font-face
{
    font-family: FiraSans-LightItalic;
    src:         url('FiraSans-LightItalic.otf');
}

@font-face
{
    font-family: FiraSans-Medium;
    src:         url('FiraSans-Medium.otf');
}

@font-face
{
    font-family: FiraSans-MediumItalic;
    src:         url('FiraSans-MediumItalic.otf');
}

@font-face
{
    font-family: FiraSans-Regular;
    src:         url('FiraSans-Regular.otf');
}